.signAllOutBtn {
    background-color: #F27424;
    color: #FFFFFF;
    padding: 2px 25px;
    font-weight: 700;
    font-size: 25px;
    border-radius: 5px;
    border: 1px solid #295074;
    cursor: pointer;
}

.signAllOutBtnLandingPage {
    position: absolute;
    bottom: 46px;
    right: 200px;
}