.logOutBtn {
    float: right;
    margin-right: 40px;
    background-color: #F27424;
    color: #ffffff;
    width: 150px;
    font-weight: 700;
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
}