.adminBtn {
    position: absolute;
    bottom: 5%;
    right: 5%;
    background-color: #F27424;
    color: #FFFFFF;
    width: 150px;
    font-weight: 700;
    font-size: 25px;
    border-radius: 5px;
    border: 1px solid #295074;
    cursor: pointer;
}

/* hover effects */

.adminBtn {
    overflow: hidden;
    transition: 0.2s transform ease-in-out;
    will-change: transform;
    z-index: 0;
}

.adminBtn::after {
    background-color: #e0712b;
    border-radius: 5px;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0);
    transform-origin: top left;
    transition: 0.2s transform ease-out;
    will-change: transform;
    z-index: -1;
}
.adminBtn:hover::after {
    transform: translate(0, 0);
}
.adminBtn:hover {
    color: #FFFFFF;
    will-change: transform;
}
