.adminBtn {
    position: absolute;
    bottom: 5%;
    right: 5%;
    background-color: #F27424;
    color: #FFFFFF;
    width: 150px;
    font-weight: 700;
    font-size: 25px;
    border-radius: 5px;
    border: 1px solid #295074;
    cursor: pointer;
}
