body {
  margin: 0;
  font-family: truenoRg, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.4s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s;
}