body {
  margin: 0;
  font-family: truenoRg, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #295074;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.4s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s, visibility 0.4s;
}

.hiddenOpacity {
  opacity: 0;
  transition: opacity 0.4s;
}

/* global hover effects */

.btnHoverEffectOrange ,
.btnHoverEffectGreen,
.btnHoverEffectBlue {
  overflow: hidden;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
}

.btnHoverEffectOrange::after,
.btnHoverEffectGreen::after,
.btnHoverEffectBlue::after {
  background-color: #E0712B;
  border-radius: 5px;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}
.btnHoverEffectOrange:hover::after,
.btnHoverEffectGreen:hover::after,
.btnHoverEffectBlue:hover::after {
  transform: translate(0, 0);
}
.btnHoverEffectOrange:hover,
.btnHoverEffectGreen:hover,
.btnHoverEffectBlue:hover {
  color: #FFFFFF;
  will-change: transform;
}

.btnHoverEffectGreen::after {
  background-color: #83A65A;
}

.btnHoverEffectBlue::after {
  background-color: #247e9c;
}